[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rKIN"]
	path = rKIN
	url = https://github.com/salbeke/rkin
	shallow = true
	registered = true
[submodule "rLFT"]
	path = rLFT
	url = https://gitlab.com/albekeecoinfolab/rlft
	shallow = true
	registered = true
